#header{
    display: flex;
    background: blue;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style-type: none;
}

li{
    padding: 10px;
}

img{
    height: 300px;
    width: 300px;
}

#section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#oneleft{
    display: flex;
    flex-direction: column;
}

#section2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.twoprime{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#planets{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#twotitle{
    align-self: center;
}

#section3{
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

#signature{
   align-self: flex-end;
}

#section4{
    padding: 50px;
}

#box{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
    padding: 30px;
    align-content: center;
}

#boxleft{
    display: flex;
    flex-direction: column;
}

#boxright{
    align-self: flex-end;
    justify-self: center;
}

#footer{
    background-color: black;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

