#header{
    display: flex;
    background: blue;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style-type: none;
}

li{
    padding: 10px;
}

img{
    height: 300px;
    width: 300px;
}

#section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#oneleft{
    display: flex;
    flex-direction: column;
}

#section2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.twoprime{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#planets{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#twotitle{
    align-self: center;
}

#section3{
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: right;
}

